{% extends '@Gui/Layout/layout.twig' %}
{% block content %}
    <h1>Antelope </h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Location</th>
        </tr>
        </thead>
        {% for antelope in  antelopes %}
            <tr>
                <td> {{ antelope.name }}</td>
                <td> {{ antelope.color }}</td>
                <td> {{ antelope.idLocation }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
